.light-theme {
  background:#FFFFFF;
}

.light-theme .logo {
  background: url("img/logo-light.png")
}

.light-theme .header {
  width: 100%;
  height: 100vh;
  background: url("img/bg-light.jpg") center no-repeat;

  background-size: cover;
}

.light-theme .nav-item-child {
  color:#000000;
}

.light-theme .en:hover {
  color:#FFFFFF;
}

.light-theme .ru:hover {
  color: #FFFFFF;
}

.light-theme .dark {
  display: none;
}

.light-theme .name {
  color: #000000;
}

.light-theme .bio {
  color: #000000;
}

.nav-item-child {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
  text-decoration: none;
  
}

.dark-theme {
  background: #000000;
}

.dark-theme .nav-item-child {
  color: #FFFFFF;
}

.dark-theme .logo {
  background: url("img/logo1.png")
}

.dark-theme .change-theme {
  background: url("img/carbon_sun.svg") center no-repeat;
}

.dark-theme .enru {
  color: #FFFFFF;
}

.dark-theme .en:hover {
  color: #BDAE82;
}

.dark-theme .ru:hover {
  color: #BDAE82;
}

.dark-theme .light {
  display: none;
}

.dark-theme .bio-btn {
  background-color: #BDAE82;
}

.dark-theme h2 {
  color:#BDAE82;
}

.dark-theme h5 {
  color: #FFFFFF;
}

.dark-theme p {
  color: #FFFFFF;
}

.dark-theme .portfolio-btn {
  background-color:#000000;
  color:#BDAE82;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("img/bg.jpg") center no-repeat;
  
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.menu-container {
  display: flex;
  margin-right: 30px;
}

.nav-menu {
  font-size: 20px;
  display: flex;
}

.enru { 
  display: flex;
  font-size: 20px;
  margin-right: 30px;
}

.en {
  cursor: pointer;
}

.ru {
  cursor: pointer;
}

.nav-item {
  list-style-type: none;
}

.change-theme {
  cursor: pointer;
}

.logo {
  cursor: pointer;
  
}

.logo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 20px;
  top: 20px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

.intro {
  display: inline-block;
  width: 500px;
  margin-top: 250px;
  margin-left: 80px;
  color:#FFFFFF;
  line-height: 40px;
}

.bio {
  font-size: 20px;
}

.bio-btn {
  font-size: 20px;
  width: 220px;
  height: 55px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.bio-btn:hover {
  background:#000000;
  color:#FFFFFF;
}

.dark-theme .bio-btn:hover {
  background:#FFFFFF;
  color:#000000;
}

.skills {
  width: 100%;
  display: inline-block;
  align-items: center;
}

.skills-list {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  
}

.skills-list-item {
  width: 320px;
  height: 240px;
  margin: auto;
}

.menu-item {
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  text-align: center;
}

.portfolio {
  width: 100%;
  display: inline-block;
  align-items: center;
}

.portfolio-menu {
  width: 895px;
  height: 55px;
  display: flex;
  margin: auto;
}

.portfolio-btn {
  width: 220px;
  text-align: center;
  margin: 5px;
  border-radius: 0;
  border-color: #BDAE82;
  background:#FFFFFF;
  cursor: pointer;
}

.portfolio-btn:hover {
  background:#BDAE82;
  color:#FFFFFF;
}

/* .album-display {
  display: flex;
  
}

.box {
  display: flex;
  margin-top: 60px;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  
}

.box .album-img {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  object-fit: cover;
  
} */

.album-display {
  /* left: auto; */
  /* display: flex; */
  position: relative;
  overflow: hidden;
  justify-content: center;
  list-style: none;
  margin: 10px;
  /* padding: 0; */
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  height: 1100px;
  width: 1400px;
}

.album-display .none {
  display: none;
}

.box {
  
  /* display: block; */
  float: left;
  width: 450px;
  height: 560px;
  margin-right: 10px;
  margin-bottom: 10px;
  /* можем поменять на 20 и сделать margin:0 2.5%;.. суть думаю понятна */
  /* height: 50%; */
  max-height: 560px;
  overflow: hidden;
/* position: relative; */
}

.box .album-img {
  display: block;
  
  width: 100%;
  /* max-width: 100%; */
  /* height: 100%; */
  /* max-height: 100%; */
  /* или 150px */
  
  margin: 0 auto;
  object-fit: cover;
  
}

.video {
  position: relative;
  display: block;
  width: 100%;
}

.video img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.price-items {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* width: 1400px; */
  height: 405px;
  justify-content: center;
  margin-bottom: 100px;
}

.price-item {
  /* margin: auto; */
  margin-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px;
    /* align-items: flex-start; */
  max-width: 450px;
  border-width: 2px;
  border-color:#BDAE82;
  border-style: solid;
}

.value {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  color:#BDAE82;
}

.price-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 18px;
  width: 220px;
  height: 55px;
  background-color:#BDAE82;
  border: none;
  cursor: pointer;
}

.dark-theme h3 {
  color:#FFFFFF;
}

.dark-theme span {
  color: #FFFFFF;
}

.light-theme h3 {
  color:#000000;
}

.light-theme span {
  color: #000000;
}

.contact {
  background: url("img/contacts-light.jpg") center no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* margin-right: auto; */
}

.dark-theme .contact {
  background: url("img/contacts-dark.jpg") center no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.contact-block {
    /* margin-right: 10px; */
    /* text-align: center; */
    /* display: flex; */
    /* margin-left: 970px; */
    flex-direction: column;
    padding: 50px;
    margin: 0 0 0 auto;
    margin-left: auto;
    /* align-items: flex-start; */
    max-width: 450px;
    
  /* align-items:flex-start; */
}

.contact-form {
  display: flex;
  flex-direction: column;
  background:none;
  width: 450px;
  /* padding: 20px; */
}

.submit {
  /* margin-left: auto; */
  margin-right: auto;
  margin-top: 30px;
  font-size: 18px;
  width: 220px;
  height: 55px;
  background-color:#FFFFFF;
  
  border: none;
  cursor: pointer;
}

.dark-theme .submit {
  background-color:#BDAE82;
}

.contact-item {
  margin-bottom: 20px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border:#BDAE82;
  border-style:solid;
  font-size: large;
}

.dark-theme .contact-item {
  background: rgba(0, 0, 0, 0.6);
}

footer {
  display: flex;
  align-items:center;
  height: 150px;
}

.github {
  font-size: large;
  word-spacing: 10px;
}

.school {
  margin-left: auto;
  font-size: large;
}

.links {
  margin: 0 0 0 auto;
}

